.container{
    width: 80%;
    margin: 0 auto;
}

.upper-nav{
    background-color: black;
    padding: 10px 0;
}

.upper-nav-list{
    margin: 0;
    color: white;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    cursor: pointer;
}

.upper-nav-list li{
    margin: 0 10px;
}

.logo{
    text-align: center;
}

.logo img{
    width: 200px;
    height: 200px;
}